<h1 class="Welcome-title">
  Welcome to the Food App homepage.
</h1>
<h3 class="Welcome-authenticate">
  If you are a Restaurent user, click here <%= link_to "Restaurant User" %>
</h3>
<h3>
  <br/>
  If you are a Normal App user, click here <%= link_to "Normal App User" %>
</h3>
<h3>
  <br/>
  If you are an Admin user, click here <%= link_to "Admin User" %>
</h3>