<main class="ResturantPageMain">
    <div style="padding-top:50px;">
        <article class="article1" >
        <div style="display:flex;margin-left:10px;">
            <div>                           
                 <%= render partial: "form1-section" %>
            </div>
            <div>
                <%= render partial: "restaurant-section" %>
            </div>
        </div>
        </article>
    </div>
</main>



