.NewUser-title{
    margin-bottom: 40px;
    font-size: 50px;
    color:rgb(166, 0, 255);
    /* font-size: 30px; */
    margin-left: 200px;
    background-color: rgb(189 253 236);
     opacity:0.7;
     margin-right: 550px;

}